* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
}

button {
    appearance: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    border: 0.25rem solid white;
    padding: 0.5rem 3rem;
    border-radius: 0.6rem;
    cursor: pointer;
}

button:hover,
button:focus,
button:focus-within,
button:focus-visible {
    animation: buttonFocus 1s infinite;
}

@keyframes buttonFocus {
    0% {
        border-color: hsl(0deg, 100%, 50%);
    }
    25% {
        border-color: hsl(90deg, 100%, 50%);
    }
    50% {
        border-color: hsl(180deg, 100%, 50%);
    }
    75% {
        border-color: hsl(270deg, 100%, 50%);
    }
    100% {
        border-color: hsl(360deg, 100%, 50%);
    }
}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 1.1rem;
    height: 1.1rem;
    border: 2px solid white;
    color: white;
}

input[type="checkbox"]::before {
    content: "𝗫";
    position: absolute;
    font-size: 1.2rem;
    left: 1px;
    top: -0.3rem;
    visibility: hidden;
}

input[type="checkbox"]:checked::before {
    visibility: visible;
}

.score {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-size: 2rem;
}

.timer {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-size: 2rem;
}

.paused {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.timeRanOut {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainMenu {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;

    h1 {
        font-size: 4rem;
    }
}

.settings {
    position: fixed;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: black;
    border: 4px solid white;
    padding: 2rem 3rem;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;

    label {
        font-size: 2rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}
